<div class="col-sm-6 col-md-3">
    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
        <div class="team-img">
            <img class="img-responsive" src="images/team/01.jpg" alt="">
        </div>
        <div class="team-info">
            <h3>{{ title }}</h3>
            <span></span>
        </div>
        <p>{{ description }}</p>
        <ul class="social-icons">
            <li><a href="download"><i class="fa fa-download"></i> download</a></li>
            <li><a href="source"><i class="fa fa-github"></i> Source</a></li>
        </ul>
    </div>
</div>


